npm config set init.author.name "firstname lastname"
npm config set init.author.email "email@address.io"
npm config set init.author.url "http://author.address.io"
npm config set init.license "MIT"
npm config set init.version "0.0.1"
https-proxy=http://proxy.address.com
